


<f:comment>Template for the infoWindow in AjaxSearch</f:comment>

info = 'AjaxLocationListInfoWindow<br />';
info += '<form action="?id={settings.routePageId}" name="mymapForm{iter.index}" method="post">';
//info += '<input type="hidden" name="id" value="{settings.routePageId}" />';
info += '<input type="hidden" name="L" value="{Lvar}" />';
info += '<input type="hidden" name="tx_mymap_search[action]" value="route" />';
info += '<input type="hidden" name="tx_mymap_search[startingPointLat]" value="{startingPoint.lat}" />';
info += '<input type="hidden" name="tx_mymap_search[startingPointLon]" value="{startingPoint.lon}" />';
info += '<input type="hidden" name="tx_mymap_search[destinationLat]" value="{location.lat}" />';
info += '<input type="hidden" name="tx_mymap_search[destinationLon]" value="{location.lon}" />';
info += '<button id="mymapRouteButton" onclick="submit()">Route</button>';
info += '</form>';

// FAL
<f:if condition="{location.image}">
		<f:for each="{location.theImage}" as="image">
            info += '<img src="/{image.originalResource.originalFile.publicUrl}" width="70" alt=""/>';
		</f:for>
</f:if>

<f:comment>
	if ("{location.additionalname}".length > 0) {
		info += '<a href="?id={settings.detailsPageId}&tx_mymap_singleview[action]=singleView&tx_mymap_singleview[locationUid]={location.uid}"><strong>{location.name}</a><br />{location.additionalname}</strong>';
	} else {
		info += '<a href="?id={settings.detailsPageId}&tx_mymap_singleview[action]=singleView&tx_mymap_singleview[locationUid]={location.uid}"><strong>{location.name}</strong></a>';

	}
</f:comment>

   info += '<form  action="/?id={settings.detailsPageId}" method="POST">';
    info += '<input class="hidden" name="tx_mymap_singleview[locationUid]" value="{location.uid}">';
    info += '<button class="submitButton" type="submit">{location.name}</button>';
    info += '<form>';


	
	info += "<br />{location.categories}";

	info += "<br />{location.www}";
	info += "<br />{location.address}";
	if ("{location.additionaladdress}".length > 0) {
		info += "<br />{location.additionaladdress}";
	}

	info += "<br />{location.zipcode} {location.city}";
	info += "<br />{location.phone}";

	infoWindow[{i}] = new google.maps.InfoWindow({
	  content: info
	});

	google.maps.event.addListener(marker[{i}], "click", function() {
		infoWindow[{i}].open(map,marker[{i}]);
});




