
<table class="tx-mymap" >
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.name" />
		</td>
		<td>
		{location.0.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.additionalname" />
		</td>
		<td>
		{location.0.additionalname}
		</td>
	</tr>

	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.categories" />
		</td>
		<td>
		{categories}
		</td>
	</tr>



	<tr>
		<td>
			<f:translate key="kWp" />
		</td>
		<td>
		{location.0.kwp}
		</td>
	</tr>

	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.address" />
		</td>
		<td>
		{location.0.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.additionaladdress" />
		</td>
		<td>
		{location.0.additionaladdress}
		</td>
	</tr>


	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.zipcode" />
		</td>
		<td>
		{location.0.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.city" />
		</td>
		<td>
		{location.0.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.country" />
		</td>
		<td>
		{location.0.country}
		</td>
	</tr>

	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.additionalcontact" />
		</td>
		<td>
		{location.0.additionalcontact}
		</td>
	</tr>


	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.phone" />
		</td>
		<td>
		{location.0.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.fax" />
		</td>
		<td>
		{location.0.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.mobile" />
		</td>
		<td>
		{location.0.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.email" />
		</td>
		<td>
		{location.0.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.www" />
		</td>
		<td>
		{location.0.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.description" />
		</td>
		<td>
		<f:format.html>{location.0.description}</f:format.html>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.lat" />
		</td>
		<td>
		{location.0.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.lon" />
		</td>
		<td>
		{location.0.lon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.geocode" />
		</td>
		<td>
		{location.0.geocode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.image" />
		</td>
		<td>

		<f:for each="{location.image}" as="image">
			<f:image src="{image.originalResource.uid}" treatIdAsReference="1" />
		</f:for>

		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mymap_domain_model_location.media" />
		</td>
		<td>
		<f:for each="{location.media}" as="media">
			<f:image src="{media.originalResource.uid}" treatIdAsReference="1" />
		</f:for>
		</td>
	</tr>
</table>